Flask
Flask-Admin
Flask-Bcrypt
Flask-Dance
Flask-DebugToolbar
Flask-Login
Flask-Mail
Flask-Migrate
Flask-OAuth
Flask-OAuthlib
Flask-SQLAlchemy
Flask-WTF
Email-Validator
Pillow
SQLAlchemy
SQLAlchemy-Utils
pytest
