{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
  <h1>Welcome to Team 1</h1>
  <p>Freshly formed in the last week of the bootcamp yet we adapted within minutes. Our team includes, </br> 
     Team Leads: Ilan Rodriguez, Thin Thazin and Syeda Kazmi. </br>
     </br>
     Frontend Developers: Syeda, Kazmi, Stephania Hoyos, Seth Khan, Sumaia Alhemyari, SangWon Park, Chelsea Alconoid, Ibrahima Coulibaly, Aung Min</br>
     </br>
     Backend Developers: Ilan Rodriguez, Thin Thazin, Ankit Kafle, Jaspreet Singh and Anwar Jahid. </br>
     </br>
     This website was fromed with the collaboration of all team members working on design, functionality, usability and hosting. </br> 
     </br>
     Do enjoy this website. </br>
     </br>
     </br>
     &#169 Copyright 2022 CUNY TTP - Winter 22 Bootcamp. All Rights Reserved.
  </p>
</div>

{% endblock %}
