/* Register page CSS by stephania applying Anwar Jahid template */

.container{
    height:60vh;
    width:100vw;
    display:grid;
    place-items:center;
    padding-top:30px;
}

form{
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    position:absolute;
    padding:35px;
    width:30rem;
    height: 20rem;
    background:black;
    color:#fff;
    display:grid;
    grid-template-columns: 1fr;
}

.btn{
    margin-top: 25px;
    background:#e50914; 
    color:white;
}

.btn:hover {
    background: #ff6b6b;
}
.log{
    background:rgba(87, 87, 87, 0.899);
    padding:5px;
    color:white;
}

@media (max-width:800px){
    form{
        left:25%;
        transition: 1s ease-out;
    }
}