body {
    background-image:linear-gradient(rgba(120, 110, 110, 0.7),
    rgba(14, 13, 13, 0.7)), url(../static/profile_pics/movie_bacground.jpeg);
    background-attachment: fixed;
    background-size: cover;  
}

h1 {
    color: #e50914;
}

.card {
    background:rgba(51, 51, 51, 0.803);
}

p {
    color: white;
}

.btn{
    background:#e50914;
    border: none;

}

.btn:hover {
    background:#dd9497; 
}

.card-title {
    color: #e50914;
}

.jumbotron{
    background:rgba(51, 51, 51, 0.803);
    color:white;
}

#author{
    font-size: 17px;
}

#publish{
    font-size: 17px;
}

#auther-home{
    color:white;
    font-size: 17px;  
}

#publish-home{
    color: white;
    font-size: 17px;  
}


#post{
    background:rgba(51, 51, 51, 0.803);
    color: white; 
}

#title1{
    color: #e50914;
}

#title2{
    color: white; 
}

.text{
    padding: 30px;
}

/* navbar design  */
 .nav {
background-color: black;
  overflow: hidden;
}

.nav-link{
    color: #f2f2f2;
    text-align: center;
    padding: 16px 16px 16px 16px;
    text-decoration: none;
    font-size: 17px;      
}

.nav a {
    color: #f2f2f2;
    text-align: center;
    padding: 16px 16px 16px 16px;
    text-decoration: none;
    font-size: 17px; 
}
.nav .nav-link:hover {
    background-color:#e50914;
} 

.nav .nav-link.active {
    background-color: #e50914;
    color: white;
  } 
