/* Register page CSS done by Anwar Jahid */
form{
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    position:absolute;
    top: 15%;
    left:35%;
    padding:35px;
    height:35rem;
    width:30rem;
    background:black;
    color:#fff;
    display:grid;
    grid-template-columns: 1fr;
}

.btn{
    background:#e50914; 
    color:white;
}

.btn:hover {
    background: #ff6b6b;
}
.text{
    background:rgba(87, 87, 87, 0.899);
    padding:5px;
    color:white;
}

@media (max-width:800px){
    form{
        left:25%;
        transition: 1s ease-out;
    }
}

