/* Register page CSS done by Anwar Jahid */
.container{
    height:80vh;
    width:100vw;
    display:grid;
    place-items:center;
    padding-top:30px;
}
form{
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    padding:35px;
    height:35rem;
    width:30rem;
    background:black;
    color:#fff;
    display:grid;
    grid-template-columns: 1fr;
}

.btn{
    background:#e50914; 
    color:white;
}
.text{
    background:rgba(87, 87, 87, 0.899);
    padding:5px;
    color:white;
}


